.dash-page {
  display: flex;
  justify-content: center;

  .info-card {
    margin-bottom: 24px;
  }

  .left-row {
    width: 780px;
    margin-right: 24px;

    .process-card {
      height: 380px;
    }

    .chart-card {
      height: 460px;
    }
  }

  .right-row {
    width: 420px;

    .department-card {
      height: 320px;
      width: 100%;
      overflow: auto;
      .department-list-box {
        display: flex;
        flex-wrap: wrap;

        div {
          margin-bottom: 8px;
        }
      }
    }

    .quick-card {
      height: 328px;
      overflow: auto;

      .menu-card {
        text-align: center;
        width: 50%;

        .menu-icon-box {
          height: 32px;
          text-align: center;

          span {
            font-size: 24px;
          }
        }

        .menu-title {
          font-size: 18px;
        }
      }
    }
  }
}