.control-box {
  line-height: 48px;
  padding: 0 12px;

  &:hover {
    background-color: #24292F;
    cursor: pointer;
  }

  .control-icon {
    color: #fff;
    font-size: 18px;
  }

  .user-avatar {
    margin-bottom: 4px;
    background: #fff;
    box-shadow: 1px 1px 2px #aaa;
    margin-right: 10px;
  }
}

.search-box {
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 1s;
  .search-input {
    width: 240px;
  }
}

.user-info {
  span {
    color: #fff;
  }
}

.notice-list {
  li {
    border-top: 1px solid #ccc;
    padding: 8px;
    transition: all 1s;
  }

  li:hover {
    background-color: #e6f7ff;
    cursor: pointer;
  }

  li:first-child {
    border-top: 0;
  }
}